<?xml version="1.0" encoding="utf-8"?>
<TEI.2><text><body><div1 type="alphabetic letter" n="M" org="uniform" sample="complete"><entryFree key="Module" type="main" opt="n"><orth extent="full" opt="n">Module</orth> (cf. <emph>Model</emph>) empty representation, delusive image: <cit><quote>bring forth this counterfeit m.</quote> <bibl n="shak. aww 4.3.114" default="NO" valid="yes">All's IV, 3, 114</bibl></cit> (viz seeming a soldier, and being a fool). <cit><quote>and then all this thou seest is but a clod and m. of confounded royalty,</quote> <bibl n="shak. jn 5.7.58" default="NO" valid="yes">John V, 7, 58</bibl></cit>.
</entryFree></div1></body></text></TEI.2>